.about {
  min-height: 80vh;
  h2,
  h3 {
    color: var(--clr-accent-500);
  }
  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    margin-block: 2rem;
  }

  p {
    line-height: 2;
    font-size: 1.2rem;
    text-align: justify;
  }
}
