.review-card {
  .container {
    margin-block: 3rem;
    padding: 2rem;
    position: relative;
    border: 1px solid var(--clr-accent-500);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-3);
    .avatar {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .info {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
