@use "../../index.scss" as *;

.product {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  box-shadow: var(--shadow-4);
  background-color: var(--clr-neutral-200);
  border-radius: var(--borderRadius);
  .container {
    border-radius: var(--borderRadius);
    overflow: hidden;
    position: relative;

    img {
      width: 90%;
      display: block;
      object-fit: cover;
      border-radius: var(--borderRadius);
      transition: var(--transition);
      margin-inline: auto;
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10rem;
      padding: 0.5rem 1rem;
      border: 1px solid var(--clr-accent-300);
      border-radius: var(--borderRadius);
      transform: translate(-50%, -50%);
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition);
      opacity: 0;
      cursor: pointer;
    }

    &:hover {
      img {
        opacity: 0.5;
      }

      a {
        opacity: 1;
      }
    }
  }

  .info {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5,
    p {
      margin: 0;
      font-weight: 400;
    }

    p {
      color: var(--clr-primary-400);
      letter-spacing: var(--spacing);
    }
  }
}
