@use "../../index.scss" as *;

.searchbar {
  input {
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
    background-color: transparent;
    border: 1px solid var(--clr-neutral-200);
    padding-block: 0.25rem;
    width: 10rem;
    transition: var(--transition);

    &:focus {
      outline: none;
    }
  }

  button {
    color: white;
    background-color: var(--clr-primary-400);
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    border: none;
    padding-block: 0.25rem;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      background-color: var(--clr-primary-200);
    }
  }

  @include md-screen {
    input {
      width: 8rem;
      transition: var(--transition);

      &:focus {
        width: 15rem;
      }
    }
  }
}
